@font-face {
    font-family: 'HancomMalangMalang';
    src: url('./HancomMalangMalang-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HancomMalangMalang';
    src: url('./HancomMalangMalang-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}
