.container {
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    width: 100%;

    .swiperContainer {
        box-sizing: border-box;
        border-radius: 10px;
        overflow: hidden;
        background: #000;
    }
}
