@import '../fonts/HancomMalangMalang/stylesheet';

* {
    user-select: none;
    box-sizing: border-box;
}

:root {
    --theme-primary: #4E7EFF;
    --primary-content-color: #fff;

    --theme-primary-description-color: #eeeeee;

    --header-height: 60px;
}


body {
    margin: 0;
    font-family: 'HancomMalangMalang', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--theme-primary);
    color: var(--primary-content-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}