@import '../fonts/HancomMalangMalang/stylesheet';

* {
    user-select: none;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'HancomMalangMalang', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --theme-primary: #4E7EFF;
    --primary-content-color: #fff;

    --description-white-color: #2C2C2C;

    --header-height: 60px;
}

.page-transition-enter {
    position: fixed;
    left: -100vw;
}

.page-transition-enter-active {
    transition: left .5s;
    left: 0;
    width: 100%;
}

.page-transition-exit {
    position: fixed;
    width: 100%;
    left: 0;
}

.page-transition-exit-active {
    left: 100vw;
    transition: left .5s;
}
