.section1 {
    background-color: #001122;
    font-family: 'Gugi', cursive;
    color: #fff;
}

.section2 {
    background: #0080ff;
    color: #fff;
}

.section3 {
    background: #fff;
    color: #000;
}

.section {
    text-align: center;
}
