@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    margin: 0;
    font-family: 'Jua', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    background: #000f26;
    color: #fff;
}
